{% extends "morwuwhw_dict/dict_base.html" %}

{% block body_block %}
  <p>Votre recherche à donner {{ word_list|length }} candidats.</p>
  <div class="container btn btn-primary">
    <a href="{% url 'dictionnary:listword' %}">Retour</a>
  </div>
  <table>
    <tr class="tab-header">
      <th>Français</th>
      <th>Morwuwhw</th>
      <th>Précisions</th>
    </tr>
    {% for word in word_list %}
    <tr class="tab-rows">
      <th><a href="{% url 'dictionnary:detailword' pk=word.pk %}">{{ word.french }}</a></th>
      <th><a href="{% url 'dictionnary:detailword' pk=word.pk %}">{{ word.morwuwhw }}</a></th>
      <th>{{ word.precisions }}</th>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
