{% extends "morwuwhw_dict/dict_base.html" %}

{% block body_block %}
<table>
  <tr class="tab-header">
    <th>Français</th>
    <th>Morwuwhw</th>
    <th>Précisions</th>
  </tr>
  <tr class="tab-rows">
    <th><a href="{% url 'dictionnary:detailword' pk=word.pk %}">{{ word.french }}</a></th>
    <th><a href="{% url 'dictionnary:detailword' pk=word.pk %}">{{ word.morwuwhw }}</a></th>
    <th>{{ word.precisions }}</th>
  </tr>
</table>
<div class="container buttons">
  <a href="{% url 'dictionnary:listword' %}" class="btn btn-primary">Retour</a>
  <a href="{% url 'dictionnary:updateword' pk=word.pk %}" class="btn btn-primary">Éditer</a>
	<a href="{% url 'dictionnary:deleteword' pk=word.pk %}" class="btn btn-primary btn-danger">Supprimer</a>
</div>
{% endblock %}
