{% extends "morwuwhw_dict/dict_base.html" %}

{% block body_block %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-primary" type="submit" value="Valider">
  <a href="{% url 'dictionnary:listword' %}" class="btn btn-primary">Retour</a>
</form>
{% endblock %}
