{% extends "morwuwhw_dict/dict_base.html" %}

{% block body_block %}
<form method="post">{% csrf_token %}
  <p>Étes-vous sûr de vouloir supprimer l’entrée : "{{ object }}" ?</p>
  <input class="btn btn-primary btn-danger" type="submit" value="Supprimer">
</form>
{% endblock %}
