{% extends "morwuwhw_dict/dict_base.html" %}

{% block body_block %}
  <p>Le dictionnaire contient actuellement {{ word_list|length }} mots.</p>
  <div class="container buttons">
    <div class="row">
      <div class="col-sm-6">
        <a href="{% url 'dictionnary:createword' %}" class="btn btn-primary add-btn">Ajouter un mot</a>
      </div>
      <div class="col-sm-6">
        <form class="search-form" method="post" action="{% url 'dictionnary:searchword' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-primary" type="submit" value="Chercher">
        </form>
      </div>
    </div>
  </div>
  <table>
    <tr class="tab-header">
      <th>Français</th>
      <th>Morwuwhw</th>
      <th>Précisions</th>
    </tr>
    {% for word in word_list %}
    <tr class="tab-rows">
      <th><a href="{% url 'dictionnary:detailword' pk=word.pk %}">{{ word.french }}</a></th>
      <th><a href="{% url 'dictionnary:detailword' pk=word.pk %}">{{ word.morwuwhw }}</a></th>
      <th>{{ word.precisions }}</th>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
