@font-face {
  font-family: News Cycle;
    src: url('../fonts/NewsCycle-Regular.eot');
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf');
}

body
{ font: normal 100% 'News Cycle', Helvetica, sans-serif;
  color: #FFF;
  background-image: linear-gradient(to bottom, #1c1c1c,	#0f0f0f);
}

p, table {
  font-size: 180%;
}

.tab-header {
  border-bottom: 1px solid white;
}

.tab-rows {
  border-bottom: 1px solid gray;
}

th {
  padding-right:20px;
}

.buttons {
  margin-top: 15px;
}

input, textarea {
  color: black;
}

form label {
  color: #FFF;
}

ul[class~=nav]
{ /*margin: 1px 0 22px 25px;*/
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

#content_section
{ padding-top: 80px;}

nav, nav div {
  padding-bottom: 3px;
  background-color: #0a0a0a;
}

ul#nav
{ margin:0;}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 0px 0 0 0;
  display: inline;
  background: transparent;}

ul#nav li a, .navbar-toggle
{ /*float: left;*/
  font: bold 150% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 15px 0 0 10px;
  text-shadow: 0px -1px 0px #000;
  padding: 0px 10px 0 10px;
  background: transparent;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;}

.search-form {
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: 5px solid gray;
}

.add-btn {
  margin-top: 20%;
}
